{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install Homebrew
command -v brew >/dev/null 2>&1 || \
  (echo '🍺  Installing Homebrew' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")

{{ if eq .chezmoi.arch "arm64" -}}
# Include Homebrew in path on Mac running Apple Silicon
echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $HOME/.zprofile
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

{{ end -}}
